// -----------------------------------------------------------------------------
// This file contains all styles related to the main structure of the site/application.
// -----------------------------------------------------------------------------

body {
  background-color: $primary-color;
}

#main {
  color: $text-color-primary;
  text-align: justify;
  width: 100%;
  height: 100%;

  h1 {
    color: lighten($text-color-secondary, 10);
  }

  h2 {
    color: lighten($text-color-secondary, 5);
  }
  
  h3 {
    color: $text-color-secondary;
  }
}


@media #{$computer-big} {
  #main {
    display: flex;
    flex-direction: column;
  }
}

@media #{$computer-small} {
  #main {
    display: flex;
    flex-direction: column;
  }
}

@media #{$handheld} {
  #main {
    display: flex;
    flex-direction: column;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}