@import "../../../stylesheets/abstracts/_variables";
@import "../../../stylesheets/abstracts/_media";

#menu {
  button {
    color: $white;
  }
}

.logo {
  position: absolute;
  left: 0;
  width: 54px;
  height: 54px;
}

.menu-wrapper {
  position: relative;
  height: $header-height;
  width: 100%;
}

.menu-btn {
  position: absolute;
  top: 4px;
  right: 0;
}
