@import "../../../stylesheets/abstracts/_variables";
@import "../../../stylesheets/abstracts/_media";

#menu {
  button {
    color: $white;
  }
}

.logo {
  position: relative;
  img {
    position: absolute;
    left: 0;
    width: 54px;
    height: 54px;
    display: inline;
  }
  .name {
    position: absolute;
    left: 56px;
    top: 10px;
    color: $text-color-primary-light;
  }
  .subtitle {
    position: absolute;
    left: 56px;
    top: 30px;
    color: $text-color-secondary-light;
  }
  height: 54px;
}

.menu-wrapper {
  position: relative;
  height: $header-height;
  width: 100%;
}

.menu-btn {
  position: absolute;
  top: 4px;
  right: 0;
}
