@import "../../../../stylesheets/abstracts/_mixins";
@import "../../../../stylesheets/abstracts/_variables";

form {
  margin: 20px;
}
.layer-type-container {
  display: flex;
  flex-direction: row;
  * {
    padding: 5px;
  }
}

