// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$primary-color: #42a5f5 !default;
$primary-dark-color: #0077c2 !default;
$primary-light-color: #80d6ff !default;

$secondary-color: #0d47a1 !default;
$secondary-dark-color: #002171 !default;
$secondary-light-color: #5472d3 !default;

$accent-color: #d32f2f !default;
$accent-dark-color: #9a0007 !default;
$accent-light-color: #ff6659 !default;

$white: #ffffff;
$light-grey: #dddddd;

$text-color-primary: rgba(0,0,0,0.87);
$text-color-secondary: #333;

$header-height: 56px;
$body-remaining-height: calc(100vh - 56px);


// SIZES
$text-size-xl: 1.8em;
$text-size-l: 1.5em;
$text-size-md: 1.3em;
$text-size-sm: 1.1em;
$text-size-xs: 1em;

$max-width: 1180px; // Max size for .container class block