@import "../../../../stylesheets/abstracts/_variables";
@import "../../../../stylesheets/abstracts/_media";

#map-container {
  width: 100vw;
  height: $body-remaining-height;
  position: absolute;
}

#overlay-container {
  width: 100vw;
  position: absolute;
  bottom: 0;
}

#menu-btn {
  color: #ffffff;
}