@import "../../../../stylesheets/abstracts/_variables";
@import "../../../../stylesheets/abstracts/_media";

#plane-detail-container {
  width: 200px;
  position: absolute;
  right: 0;
  margin: 24px;
}