@import "../../../../stylesheets/abstracts/_variables";
@import "../../../../stylesheets/abstracts/_media";

.plane-detail-panel {
  width: 300px;
  position: absolute;
  right: 0;
  margin: 24px;
}
.plane-detail-conatiner {
  position: relative;
}

.close-detail {
  position: absolute;
  right: 0;
  top: 0;
}