@import "../../../../stylesheets/abstracts/_variables";
@import "../../../../stylesheets/abstracts/_media";

.plane-detail-panel {
  width: 200px;
  position: absolute;
  right: 0;
  margin: 24px;
}


.add-style-btn {
  background: $primary-color;
}